<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @order_item.category_id %>
</p>

<p>
  <strong>Color:</strong>
  <%= @order_item.color %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order_item.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @order_item.unit_price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_item.price %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
